extends layout

block content
  h1 Edit Profile

  form(action="/profile/edit" method="POST")
    label First Name:
    input(type="text" name="first_name" value=user.first_name required)
    br

    label Last Name:
    input(type="text" name="last_name" value=user.last_name required)
    br

    label Degree:
    input(type="text" name="degree" value=user.degree required)
    br

    button(type="submit") Save Changes