extends layout

block content
  h2 Home

  p Welcome to StudyBuddy.

  p StudyBuddy helps students:

  ul
    li Browse users
    li View study listings
    li Explore tags
    li Register as a new user

  h3 Quick Links

  ul
    li
      a(href="/users") Users
    li
      a(href="/listings") Listings
    li
      a(href="/tags") Tags
    li
      a(href="/register") Register