extends layout

block content
  h2 Register

  form(method="POST" action="/register")
    div
      label(for="first_name") First Name
      input(type="text" name="first_name" id="first_name" required)

    div
      label(for="last_name") Last Name
      input(type="text" name="last_name" id="last_name" required)

    div
      label(for="degree") Degree
      input(type="text" name="degree" id="degree" required)

    button(type="submit") Register