extends layout

block content
  h2 User Profile

  p
    strong First Name:
    |  #{user.first_name}

  p
    strong Last Name:
    |  #{user.last_name}

  p
    strong Degree:
    |  #{user.degree}

  p
    a(href="/users") Back to Users