extends layout

block content
  h1 User Profile

  p
    strong First name:
    |  #{user.first_name}

  p
    strong Last name:
    |  #{user.last_name}

  p
    strong Degree:
    |  #{user.degree}

  p
    a(href="/users") Back to Users